<div align="center" style = "font-family : Times New Roman; font-size : 20px"><B>K. J. Somaiya College of Engineering, Mumbai-77</B></div>
<div align="center" style = "font-family : Time NewRoman; font-size : 15px">(Autonomous College Affiliated to University of Mumbai)</div>

<div align="center" style = "font-family : Time New Roman; font-size : 20px">Expolatory Data Analysis </div>

<div align="left" style = "font-family : Time New Roman; font-size : 20px; color : red; "><B>Name : Anurag Pulak Ghosh &nbsp;&nbsp;&nbsp;&nbsp; Roll No.: 1914019 &nbsp;&nbsp;&nbsp;&nbsp; Branch : Information Technology &nbsp;&nbsp;&nbsp;&nbsp; Class : A &nbsp; &nbsp;&nbsp;&nbsp; Batch : A2</div>

<h1 align="center" style = "font-family : Time New Roman; ">Experiment No.-5 : Applying similarity measures on the numeric datasets</h1>

# Reading the dataset and displaying it

In [1]:
#importing all the required libraries.
import numpy as np #numpy and pandas for numerical analysis. 
import pandas as pd

In [2]:
#reading the dataset file.
fish_data = pd.read_csv("Fish.csv")

In [3]:
#Displaying the size of the dataset.
fish_data.shape

(159, 7)

In [4]:
#Displaying the info for the dataset.
fish_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [5]:
#displaying the dataset.
fish_data

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [6]:
#Displaying the data types of the dataset.
fish_data.dtypes

Species     object
Weight     float64
Length1    float64
Length2    float64
Length3    float64
Height     float64
Width      float64
dtype: object

In [7]:
#Displaying the top 5 rows of the dataset.
fish_data.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [8]:
#Displaying the last 5 rows of the dataset.
fish_data.tail()

    Species  Weight  Length1  Length2  Length3  Height   Width
154   Smelt    12.2     11.5     12.2     13.4  2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5  2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8  2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2  2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2  2.9322  1.8792

In [9]:
fish_data = fish_data.drop(['Species'],axis=1)
fish_data

     Weight  Length1  Length2  Length3   Height   Width
0     242.0     23.2     25.4     30.0  11.5200  4.0200
1     290.0     24.0     26.3     31.2  12.4800  4.3056
2     340.0     23.9     26.5     31.1  12.3778  4.6961
3     363.0     26.3     29.0     33.5  12.7300  4.4555
4     430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...      ...      ...      ...      ...     ...
154    12.2     11.5     12.2     13.4   2.0904  1.3936
155    13.4     11.7     12.4     13.5   2.4300  1.2690
156    12.2     12.1     13.0     13.8   2.2770  1.2558
157    19.7     13.2     14.3     15.2   2.8728  2.0672
158    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 6 columns]

<h1>1.	Identify the suitable attributes to apply the numeric similarity measures and write python code to calculate Euclidean, Manhattan similarity measures on it.</h1>

In [10]:
# Function to calculate Euclidean Distance.
def euclideanDistance(row1, row2):
    sum = 0
    for i in range(len(row1)):
        sum += (row1[i] - row2[i])**2
    return sum**0.5

# Function to calculate Manhattan Distance.
def manhattanDistance(row1, row2):
    sum = 0
    for i in range(len(row1)):
        sum += abs(row1[i] - row2[i])
    return sum

In [11]:
fish_data = fish_data.to_numpy()
fish_data

array([[2.42000e+02, 2.32000e+01, 2.54000e+01, 3.00000e+01, 1.15200e+01,
        4.02000e+00],
       [2.90000e+02, 2.40000e+01, 2.63000e+01, 3.12000e+01, 1.24800e+01,
        4.30560e+00],
       [3.40000e+02, 2.39000e+01, 2.65000e+01, 3.11000e+01, 1.23778e+01,
        4.69610e+00],
       [3.63000e+02, 2.63000e+01, 2.90000e+01, 3.35000e+01, 1.27300e+01,
        4.45550e+00],
       [4.30000e+02, 2.65000e+01, 2.90000e+01, 3.40000e+01, 1.24440e+01,
        5.13400e+00],
       [4.50000e+02, 2.68000e+01, 2.97000e+01, 3.47000e+01, 1.36024e+01,
        4.92740e+00],
       [5.00000e+02, 2.68000e+01, 2.97000e+01, 3.45000e+01, 1.41795e+01,
        5.27850e+00],
       [3.90000e+02, 2.76000e+01, 3.00000e+01, 3.50000e+01, 1.26700e+01,
        4.69000e+00],
       [4.50000e+02, 2.76000e+01, 3.00000e+01, 3.51000e+01, 1.40049e+01,
        4.84380e+00],
       [5.00000e+02, 2.85000e+01, 3.07000e+01, 3.62000e+01, 1.42266e+01,
        4.95940e+00],
       [4.75000e+02, 2.84000e+01, 3.10000e+01, 3.62000e+01, 1.42628e+01,
        5.10420e+00],
       [5.00000e+02, 2.87000e+01, 3.10000e+01, 3.62000e+01, 1.43714e+01,
        4.81460e+00],
       [5.00000e+02, 2.91000e+01, 3.15000e+01, 3.64000e+01, 1.37592e+01,
        4.36800e+00],
       [3.40000e+02, 2.95000e+01, 3.20000e+01, 3.73000e+01, 1.39129e+01,
        5.07280e+00],
       [6.00000e+02, 2.94000e+01, 3.20000e+01, 3.72000e+01, 1.49544e+01,
        5.17080e+00],
       [6.00000e+02, 2.94000e+01, 3.20000e+01, 3.72000e+01, 1.54380e+01,
        5.58000e+00],
       [7.00000e+02, 3.04000e+01, 3.30000e+01, 3.83000e+01, 1.48604e+01,
        5.28540e+00],
       [7.00000e+02, 3.04000e+01, 3.30000e+01, 3.85000e+01, 1.49380e+01,
        5.19750e+00],
       [6.10000e+02, 3.09000e+01, 3.35000e+01, 3.86000e+01, 1.56330e+01,
        5.13380e+00],
       [6.50000e+02, 3.10000e+01, 3.35000e+01, 3.87000e+01, 1.44738e+01,
        5.72760e+00],
       [5.75000e+02, 3.13000e+01, 3.40000e+01, 3.95000e+01, 1.51285e+01,
        5.56950e+00],
       [6.85000e+02, 3.14000e+01, 3.40000e+01, 3.92000e+01, 1.59936e+01,
        5.37040e+00],
       [6.20000e+02, 3.15000e+01, 3.45000e+01, 3.97000e+01, 1.55227e+01,
        5.28010e+00],
       [6.80000e+02, 3.18000e+01, 3.50000e+01, 4.06000e+01, 1.54686e+01,
        6.13060e+00],
       [7.00000e+02, 3.19000e+01, 3.50000e+01, 4.05000e+01, 1.62405e+01,
        5.58900e+00],
       [7.25000e+02, 3.18000e+01, 3.50000e+01, 4.09000e+01, 1.63600e+01,
        6.05320e+00],
       [7.20000e+02, 3.20000e+01, 3.50000e+01, 4.06000e+01, 1.63618e+01,
        6.09000e+00],
       [7.14000e+02, 3.27000e+01, 3.60000e+01, 4.15000e+01, 1.65170e+01,
        5.85150e+00],
       [8.50000e+02, 3.28000e+01, 3.60000e+01, 4.16000e+01, 1.68896e+01,
        6.19840e+00],
       [1.00000e+03, 3.35000e+01, 3.70000e+01, 4.26000e+01, 1.89570e+01,
        6.60300e+00],
       [9.20000e+02, 3.50000e+01, 3.85000e+01, 4.41000e+01, 1.80369e+01,
        6.30630e+00],
       [9.55000e+02, 3.50000e+01, 3.85000e+01, 4.40000e+01, 1.80840e+01,
        6.29200e+00],
       [9.25000e+02, 3.62000e+01, 3.95000e+01, 4.53000e+01, 1.87542e+01,
        6.74970e+00],
       [9.75000e+02, 3.74000e+01, 4.10000e+01, 4.59000e+01, 1.86354e+01,
        6.74730e+00],
       [9.50000e+02, 3.80000e+01, 4.10000e+01, 4.65000e+01, 1.76235e+01,
        6.37050e+00],
       [4.00000e+01, 1.29000e+01, 1.41000e+01, 1.62000e+01, 4.14720e+00,
        2.26800e+00],
       [6.90000e+01, 1.65000e+01, 1.82000e+01, 2.03000e+01, 5.29830e+00,
        2.82170e+00],
       [7.80000e+01, 1.75000e+01, 1.88000e+01, 2.12000e+01, 5.57560e+00,
        2.90440e+00],
       [8.70000e+01, 1.82000e+01, 1.98000e+01, 2.22000e+01, 5.61660e+00,
        3.17460e+00],
       [1.20000e+02, 1.86000e+01, 2.00000e+01, 2.22000e+01, 6.21600e+00,
        3.57420e+00],
       [0.00000e+00, 1.90000e+01, 2.05000e+01, 2.28000e+01, 6.47520e+00,
        3.35160e+00],
       [1.10000e+02, 1.91000e+01, 2.08000e+01, 2.31000e+01, 6.16770e+00,
        3.39570e+00],
       [1.20000e+02, 1.94000e+01, 2.10000e+01, 2.37000e+01, 6.11460e+00,
        3.29430e+00],
       [1.50000e+02, 2.04000e+01, 2.20000e+01, 2.47000e+01, 5.80450e+00,
        3.75440e+00],
       [1.45000e+02, 2.05000e+01, 2.20000e+01, 2.43000e+01, 6.63390e+00,
        3.54780e+00],
       [1.60000e+02, 2.05000e+01, 2.25000e+01, 2.53000e+01, 7.03340e+00,
        3.82030e+00],
       [1.40000e+02, 2.10000e+01, 2.25000e+01, 2.50000e+01, 6.55000e+00,
        3.32500e+00],
       [1.60000e+02, 2.11000e+01, 2.25000e+01, 2.50000e+01, 6.40000e+00,
        3.80000e+00],
       [1.69000e+02, 2.20000e+01, 2.40000e+01, 2.72000e+01, 7.53440e+00,
        3.83520e+00],
       [1.61000e+02, 2.20000e+01, 2.34000e+01, 2.67000e+01, 6.91530e+00,
        3.63120e+00],
       [2.00000e+02, 2.21000e+01, 2.35000e+01, 2.68000e+01, 7.39680e+00,
        4.12720e+00],
       [1.80000e+02, 2.36000e+01, 2.52000e+01, 2.79000e+01, 7.08660e+00,
        3.90600e+00],
       [2.90000e+02, 2.40000e+01, 2.60000e+01, 2.92000e+01, 8.87680e+00,
        4.49680e+00],
       [2.72000e+02, 2.50000e+01, 2.70000e+01, 3.06000e+01, 8.56800e+00,
        4.77360e+00],
       [3.90000e+02, 2.95000e+01, 3.17000e+01, 3.50000e+01, 9.48500e+00,
        5.35500e+00],
       [2.70000e+02, 2.36000e+01, 2.60000e+01, 2.87000e+01, 8.38040e+00,
        4.24760e+00],
       [2.70000e+02, 2.41000e+01, 2.65000e+01, 2.93000e+01, 8.14540e+00,
        4.24850e+00],
       [3.06000e+02, 2.56000e+01, 2.80000e+01, 3.08000e+01, 8.77800e+00,
        4.68160e+00],
       [5.40000e+02, 2.85000e+01, 3.10000e+01, 3.40000e+01, 1.07440e+01,
        6.56200e+00],
       [8.00000e+02, 3.37000e+01, 3.64000e+01, 3.96000e+01, 1.17612e+01,
        6.57360e+00],
       [1.00000e+03, 3.73000e+01, 4.00000e+01, 4.35000e+01, 1.23540e+01,
        6.52500e+00],
       [5.50000e+01, 1.35000e+01, 1.47000e+01, 1.65000e+01, 6.84750e+00,
        2.32650e+00],
       [6.00000e+01, 1.43000e+01, 1.55000e+01, 1.74000e+01, 6.57720e+00,
        2.31420e+00],
       [9.00000e+01, 1.63000e+01, 1.77000e+01, 1.98000e+01, 7.40520e+00,
        2.67300e+00],
       [1.20000e+02, 1.75000e+01, 1.90000e+01, 2.13000e+01, 8.39220e+00,
        2.91810e+00],
       [1.50000e+02, 1.84000e+01, 2.00000e+01, 2.24000e+01, 8.89280e+00,
        3.29280e+00],
       [1.40000e+02, 1.90000e+01, 2.07000e+01, 2.32000e+01, 8.53760e+00,
        3.29440e+00],
       [1.70000e+02, 1.90000e+01, 2.07000e+01, 2.32000e+01, 9.39600e+00,
        3.41040e+00],
       [1.45000e+02, 1.98000e+01, 2.15000e+01, 2.41000e+01, 9.73640e+00,
        3.15710e+00],
       [2.00000e+02, 2.12000e+01, 2.30000e+01, 2.58000e+01, 1.03458e+01,
        3.66360e+00],
       [2.73000e+02, 2.30000e+01, 2.50000e+01, 2.80000e+01, 1.10880e+01,
        4.14400e+00],
       [3.00000e+02, 2.40000e+01, 2.60000e+01, 2.90000e+01, 1.13680e+01,
        4.23400e+00],
       [5.90000e+00, 7.50000e+00, 8.40000e+00, 8.80000e+00, 2.11200e+00,
        1.40800e+00],
       [3.20000e+01, 1.25000e+01, 1.37000e+01, 1.47000e+01, 3.52800e+00,
        1.99920e+00],
       [4.00000e+01, 1.38000e+01, 1.50000e+01, 1.60000e+01, 3.82400e+00,
        2.43200e+00],
       [5.15000e+01, 1.50000e+01, 1.62000e+01, 1.72000e+01, 4.59240e+00,
        2.63160e+00],
       [7.00000e+01, 1.57000e+01, 1.74000e+01, 1.85000e+01, 4.58800e+00,
        2.94150e+00],
       [1.00000e+02, 1.62000e+01, 1.80000e+01, 1.92000e+01, 5.22240e+00,
        3.32160e+00],
       [7.80000e+01, 1.68000e+01, 1.87000e+01, 1.94000e+01, 5.19920e+00,
        3.12340e+00],
       [8.00000e+01, 1.72000e+01, 1.90000e+01, 2.02000e+01, 5.63580e+00,
        3.05020e+00],
       [8.50000e+01, 1.78000e+01, 1.96000e+01, 2.08000e+01, 5.13760e+00,
        3.03680e+00],
       [8.50000e+01, 1.82000e+01, 2.00000e+01, 2.10000e+01, 5.08200e+00,
        2.77200e+00],
       [1.10000e+02, 1.90000e+01, 2.10000e+01, 2.25000e+01, 5.69250e+00,
        3.55500e+00],
       [1.15000e+02, 1.90000e+01, 2.10000e+01, 2.25000e+01, 5.91750e+00,
        3.30750e+00],
       [1.25000e+02, 1.90000e+01, 2.10000e+01, 2.25000e+01, 5.69250e+00,
        3.66750e+00],
       [1.30000e+02, 1.93000e+01, 2.13000e+01, 2.28000e+01, 6.38400e+00,
        3.53400e+00],
       [1.20000e+02, 2.00000e+01, 2.20000e+01, 2.35000e+01, 6.11000e+00,
        3.40750e+00],
       [1.20000e+02, 2.00000e+01, 2.20000e+01, 2.35000e+01, 5.64000e+00,
        3.52500e+00],
       [1.30000e+02, 2.00000e+01, 2.20000e+01, 2.35000e+01, 6.11000e+00,
        3.52500e+00],
       [1.35000e+02, 2.00000e+01, 2.20000e+01, 2.35000e+01, 5.87500e+00,
        3.52500e+00],
       [1.10000e+02, 2.00000e+01, 2.20000e+01, 2.35000e+01, 5.52250e+00,
        3.99500e+00],
       [1.30000e+02, 2.05000e+01, 2.25000e+01, 2.40000e+01, 5.85600e+00,
        3.62400e+00],
       [1.50000e+02, 2.05000e+01, 2.25000e+01, 2.40000e+01, 6.79200e+00,
        3.62400e+00],
       [1.45000e+02, 2.07000e+01, 2.27000e+01, 2.42000e+01, 5.95320e+00,
        3.63000e+00],
       [1.50000e+02, 2.10000e+01, 2.30000e+01, 2.45000e+01, 5.21850e+00,
        3.62600e+00],
       [1.70000e+02, 2.15000e+01, 2.35000e+01, 2.50000e+01, 6.27500e+00,
        3.72500e+00],
       [2.25000e+02, 2.20000e+01, 2.40000e+01, 2.55000e+01, 7.29300e+00,
        3.72300e+00],
       [1.45000e+02, 2.20000e+01, 2.40000e+01, 2.55000e+01, 6.37500e+00,
        3.82500e+00],
       [1.88000e+02, 2.26000e+01, 2.46000e+01, 2.62000e+01, 6.73340e+00,
        4.16580e+00],
       [1.80000e+02, 2.30000e+01, 2.50000e+01, 2.65000e+01, 6.43950e+00,
        3.68350e+00],
       [1.97000e+02, 2.35000e+01, 2.56000e+01, 2.70000e+01, 6.56100e+00,
        4.23900e+00],
       [2.18000e+02, 2.50000e+01, 2.65000e+01, 2.80000e+01, 7.16800e+00,
        4.14400e+00],
       [3.00000e+02, 2.52000e+01, 2.73000e+01, 2.87000e+01, 8.32300e+00,
        5.13730e+00],
       [2.60000e+02, 2.54000e+01, 2.75000e+01, 2.89000e+01, 7.16720e+00,
        4.33500e+00],
       [2.65000e+02, 2.54000e+01, 2.75000e+01, 2.89000e+01, 7.05160e+00,
        4.33500e+00],
       [2.50000e+02, 2.54000e+01, 2.75000e+01, 2.89000e+01, 7.28280e+00,
        4.56620e+00],
       [2.50000e+02, 2.59000e+01, 2.80000e+01, 2.94000e+01, 7.82040e+00,
        4.20420e+00],
       [3.00000e+02, 2.69000e+01, 2.87000e+01, 3.01000e+01, 7.58520e+00,
        4.63540e+00],
       [3.20000e+02, 2.78000e+01, 3.00000e+01, 3.16000e+01, 7.61560e+00,
        4.77160e+00],
       [5.14000e+02, 3.05000e+01, 3.28000e+01, 3.40000e+01, 1.00300e+01,
        6.01800e+00],
       [5.56000e+02, 3.20000e+01, 3.45000e+01, 3.65000e+01, 1.02565e+01,
        6.38750e+00],
       [8.40000e+02, 3.25000e+01, 3.50000e+01, 3.73000e+01, 1.14884e+01,
        7.79570e+00],
       [6.85000e+02, 3.40000e+01, 3.65000e+01, 3.90000e+01, 1.08810e+01,
        6.86400e+00],
       [7.00000e+02, 3.40000e+01, 3.60000e+01, 3.83000e+01, 1.06091e+01,
        6.74080e+00],
       [7.00000e+02, 3.45000e+01, 3.70000e+01, 3.94000e+01, 1.08350e+01,
        6.26460e+00],
       [6.90000e+02, 3.46000e+01, 3.70000e+01, 3.93000e+01, 1.05717e+01,
        6.36660e+00],
       [9.00000e+02, 3.65000e+01, 3.90000e+01, 4.14000e+01, 1.11366e+01,
        7.49340e+00],
       [6.50000e+02, 3.65000e+01, 3.90000e+01, 4.14000e+01, 1.11366e+01,
        6.00300e+00],
       [8.20000e+02, 3.66000e+01, 3.90000e+01, 4.13000e+01, 1.24313e+01,
        7.35140e+00],
       [8.50000e+02, 3.69000e+01, 4.00000e+01, 4.23000e+01, 1.19286e+01,
        7.10640e+00],
       [9.00000e+02, 3.70000e+01, 4.00000e+01, 4.25000e+01, 1.17300e+01,
        7.22500e+00],
       [1.01500e+03, 3.70000e+01, 4.00000e+01, 4.24000e+01, 1.23808e+01,
        7.46240e+00],
       [8.20000e+02, 3.71000e+01, 4.00000e+01, 4.25000e+01, 1.11350e+01,
        6.63000e+00],
       [1.10000e+03, 3.90000e+01, 4.20000e+01, 4.46000e+01, 1.28002e+01,
        6.86840e+00],
       [1.00000e+03, 3.98000e+01, 4.30000e+01, 4.52000e+01, 1.19328e+01,
        7.27720e+00],
       [1.10000e+03, 4.01000e+01, 4.30000e+01, 4.55000e+01, 1.25125e+01,
        7.41650e+00],
       [1.00000e+03, 4.02000e+01, 4.35000e+01, 4.60000e+01, 1.26040e+01,
        8.14200e+00],
       [1.00000e+03, 4.11000e+01, 4.40000e+01, 4.66000e+01, 1.24888e+01,
        7.59580e+00],
       [2.00000e+02, 3.00000e+01, 3.23000e+01, 3.48000e+01, 5.56800e+00,
        3.37560e+00],
       [3.00000e+02, 3.17000e+01, 3.40000e+01, 3.78000e+01, 5.70780e+00,
        4.15800e+00],
       [3.00000e+02, 3.27000e+01, 3.50000e+01, 3.88000e+01, 5.93640e+00,
        4.38440e+00],
       [3.00000e+02, 3.48000e+01, 3.73000e+01, 3.98000e+01, 6.28840e+00,
        4.01980e+00],
       [4.30000e+02, 3.55000e+01, 3.80000e+01, 4.05000e+01, 7.29000e+00,
        4.57650e+00],
       [3.45000e+02, 3.60000e+01, 3.85000e+01, 4.10000e+01, 6.39600e+00,
        3.97700e+00],
       [4.56000e+02, 4.00000e+01, 4.25000e+01, 4.55000e+01, 7.28000e+00,
        4.32250e+00],
       [5.10000e+02, 4.00000e+01, 4.25000e+01, 4.55000e+01, 6.82500e+00,
        4.45900e+00],
       [5.40000e+02, 4.01000e+01, 4.30000e+01, 4.58000e+01, 7.78600e+00,
        5.12960e+00],
       [5.00000e+02, 4.20000e+01, 4.50000e+01, 4.80000e+01, 6.96000e+00,
        4.89600e+00],
       [5.67000e+02, 4.32000e+01, 4.60000e+01, 4.87000e+01, 7.79200e+00,
        4.87000e+00],
       [7.70000e+02, 4.48000e+01, 4.80000e+01, 5.12000e+01, 7.68000e+00,
        5.37600e+00],
       [9.50000e+02, 4.83000e+01, 5.17000e+01, 5.51000e+01, 8.92620e+00,
        6.17120e+00],
       [1.25000e+03, 5.20000e+01, 5.60000e+01, 5.97000e+01, 1.06863e+01,
        6.98490e+00],
       [1.60000e+03, 5.60000e+01, 6.00000e+01, 6.40000e+01, 9.60000e+00,
        6.14400e+00],
       [1.55000e+03, 5.60000e+01, 6.00000e+01, 6.40000e+01, 9.60000e+00,
        6.14400e+00],
       [1.65000e+03, 5.90000e+01, 6.34000e+01, 6.80000e+01, 1.08120e+01,
        7.48000e+00],
       [6.70000e+00, 9.30000e+00, 9.80000e+00, 1.08000e+01, 1.73880e+00,
        1.04760e+00],
       [7.50000e+00, 1.00000e+01, 1.05000e+01, 1.16000e+01, 1.97200e+00,
        1.16000e+00],
       [7.00000e+00, 1.01000e+01, 1.06000e+01, 1.16000e+01, 1.72840e+00,
        1.14840e+00],
       [9.70000e+00, 1.04000e+01, 1.10000e+01, 1.20000e+01, 2.19600e+00,
        1.38000e+00],
       [9.80000e+00, 1.07000e+01, 1.12000e+01, 1.24000e+01, 2.08320e+00,
        1.27720e+00],
       [8.70000e+00, 1.08000e+01, 1.13000e+01, 1.26000e+01, 1.97820e+00,
        1.28520e+00],
       [1.00000e+01, 1.13000e+01, 1.18000e+01, 1.31000e+01, 2.21390e+00,
        1.28380e+00],
       [9.90000e+00, 1.13000e+01, 1.18000e+01, 1.31000e+01, 2.21390e+00,
        1.16590e+00],
       [9.80000e+00, 1.14000e+01, 1.20000e+01, 1.32000e+01, 2.20440e+00,
        1.14840e+00],
       [1.22000e+01, 1.15000e+01, 1.22000e+01, 1.34000e+01, 2.09040e+00,
        1.39360e+00],
       [1.34000e+01, 1.17000e+01, 1.24000e+01, 1.35000e+01, 2.43000e+00,
        1.26900e+00],
       [1.22000e+01, 1.21000e+01, 1.30000e+01, 1.38000e+01, 2.27700e+00,
        1.25580e+00],
       [1.97000e+01, 1.32000e+01, 1.43000e+01, 1.52000e+01, 2.87280e+00,
        2.06720e+00],
       [1.99000e+01, 1.38000e+01, 1.50000e+01, 1.62000e+01, 2.93220e+00,
        1.87920e+00]])

In [12]:
print(euclideanDistance(fish_data[0],fish_data[1]))

48.04053670974128

In [13]:
print(manhattanDistance(fish_data[0],fish_data[1]))

52.14560000000001

In [14]:
def euclideanMatrix(dataset):
    n = np.shape(dataset)[0]
    matrix = [ [0]*n for i in range(n)]
    for i in range(n):
        for j in range(n):
            matrix[i][j] = euclideanDistance(dataset[i],dataset[j])

    return matrix

In [15]:
matrix = euclideanMatrix(fish_data)
EuclideanMatrix = pd.DataFrame(matrix)
print("The Euclidean Distance Matrix is as followed : ")
EuclideanMatrix

The Euclidean Distance Matrix is as followed :

,0,1,2,3,4,5,6,7,8,9,...,149,150,151,152,153,154,155,156,157,158
0,0.000000,48.040537,98.020931,121.150624,188.111522,208.141057,258.116944,148.227161,208.176328,258.199202,...,233.839830,234.910079,233.517173,233.617935,233.694045,231.280231,230.047074,231.172065,223.468404,223.145028
1,48.040537,0.000000,50.002229,73.122876,140.078790,160.104017,210.081234,100.206157,160.138924,210.162052,...,281.758131,282.832637,281.449239,281.550014,281.628915,279.215264,277.984844,279.119155,271.433304,271.123197
2,98.020931,50.002229,0.000000,23.387004,90.120010,110.150638,160.105576,50.410668,110.202583,160.213287,...,331.523344,332.602429,331.230733,331.331597,331.413690,329.000178,327.773815,328.918655,321.256107,320.963291
3,121.150624,73.122876,23.387004,0.000000,67.006210,87.018181,137.016489,27.092408,87.040371,137.063904,...,354.794456,355.871454,354.494920,354.595572,354.676000,352.261985,351.034363,352.173073,344.500143,344.197304
4,188.111522,140.078790,90.120010,67.006210,0.000000,20.061271,70.027586,40.043204,20.147968,70.106620,...,421.572415,422.653258,421.287513,421.388302,421.471736,419.058024,417.834451,418.982874,411.331403,411.044046
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,231.280231,279.215264,329.000178,352.261985,419.058024,439.098945,488.974057,379.339220,439.169260,489.142037,...,2.900621,3.770191,2.270971,2.376363,2.433746,0.000000,1.288741,1.101730,8.237468,9.011350
155,230.047074,277.984844,327.773815,351.034363,417.834451,437.874989,487.751973,378.112339,437.944571,487.918804,...,4.090274,5.012423,3.505270,3.603794,3.655877,1.288741,0.000000,1.439994,7.019487,7.831638
156,231.172065,279.119155,328.918655,352.173073,418.982874,439.024345,488.907109,379.251023,439.092470,489.069892,...,3.599724,4.284874,2.723007,2.805720,2.761667,1.101730,1.439994,0.000000,7.881837,8.529825
157,223.468404,271.433304,321.256107,344.500143,411.331403,431.374275,481.270043,371.578853,431.438968,481.424359,...,11.088623,11.997159,10.459821,10.562031,10.575015,8.237468,7.019487,7.881837,0.000000,1.388838
158,223.145028,271.123197,320.963291,344.197304,411.044046,431.087572,480.992772,371.275660,431.149688,481.139939,...,11.898874,12.741780,11.179466,11.274961,11.262050,9.011350,7.831638,8.529825,1.388838,0.000000

In [16]:
def manhattenMatrix(dataset):
    n = np.shape(dataset)[0]
    matrix = [ [0]*n for i in range(n)]
    for i in range(n):
        for j in range(n):
            matrix[i][j] = manhattanDistance(dataset[i],dataset[j])

    return matrix

In [17]:
matrix = manhattenMatrix(fish_data)
ManhattenMatrix = pd.DataFrame(matrix)
print("The Manhatten Distance Matrix is as followed : ")
ManhattenMatrix

The Manhatten Distance Matrix is as followed :

,0,1,2,3,4,5,6,7,8,9,...,149,150,151,152,153,154,155,156,157,158
0,0.0000,52.1456,102.4339,132.8455,200.9380,223.5898,274.3180,163.8200,225.4087,278.4460,...,288.6796,289.4766,286.4423,286.6602,286.3872,283.3560,281.4410,281.5072,268.8000,266.4286
1,52.1456,0.0000,50.8927,80.6999,148.8644,171.4442,222.1724,111.6744,173.2631,226.3004,...,340.8252,341.6222,338.5879,338.8058,338.5328,335.5016,333.5866,333.6528,320.9456,318.5742
2,102.4339,50.8927,0.0000,30.8928,98.5041,121.1559,171.8841,61.3983,122.9748,176.0121,...,391.1135,391.9105,388.8762,389.0941,388.8211,385.7899,383.8749,383.9411,371.2339,368.8625
3,132.8455,80.6999,30.8928,0.0000,68.6645,90.7443,141.4725,31.0945,92.5632,145.6005,...,421.5251,422.3221,419.2878,419.5057,419.2327,416.2015,414.2865,414.3527,401.6455,399.2741
4,200.9380,148.8644,98.5041,68.6645,0.0000,23.0650,73.3800,43.7700,25.0511,77.8572,...,489.6176,490.4146,487.3803,487.5982,487.3252,484.2940,482.3790,482.4452,469.7380,467.3666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,283.3560,335.5016,385.7899,416.2015,484.2940,506.9458,557.6740,447.1760,508.7647,561.8020,...,5.3236,6.1206,3.3333,3.5512,3.2592,0.0000,2.1642,2.1244,14.5560,16.9274
155,281.4410,333.5866,383.8749,414.2865,482.3790,505.0308,555.7590,445.2610,506.8497,559.8870,...,7.2550,8.0680,5.0309,5.2192,4.9462,2.1642,0.0000,2.6662,12.6410,15.0124
156,281.5072,333.6528,383.9411,414.3527,482.4452,505.0970,555.8252,445.3272,506.9159,559.9532,...,7.2152,8.0282,4.9911,5.1530,4.8800,2.1244,2.6662,0.0000,12.7072,15.0786
157,268.8000,320.9456,371.2339,401.6455,469.7380,492.3898,543.1180,432.6200,494.2087,547.2460,...,19.8796,20.6766,17.6423,17.8602,17.5872,14.5560,12.6410,12.7072,0.0000,2.7474
158,266.4286,318.5742,368.8625,399.2741,467.3666,490.0184,540.7466,430.2486,491.8373,544.8746,...,22.2510,23.0480,20.0137,20.2316,19.9586,16.9274,15.0124,15.0786,2.7474,0.0000

<h1>2.	Identify the suitable attributes to apply the textual similarity measures and write python code to calculate Longest common subsequence, edit distance similarity measures on it</h1>

<h3>Reading the genomic sequence from the text file</h3>

In [18]:
str1 = open("sequence1.txt",'r').read().strip()[:100]
str1

'AACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACC'

In [19]:
str2 = open("sequence2.txt",'r').read().strip()[:100]
str2

'ACAAGTTTGTACAAAAAAGCAGAAGGGCCGTCAAGGCCCACCATGCCTATTGGATCCAAAGAGAGGCCAACATTTTTTGAAATTTTTAAGACACGCTGCA'

In [20]:
# Funtion to find the longest common subsequence by using Dynamic programming.
def longestCommonSubsequence(X, Y):
    
    # find the length of the strings
    m = len(X)
    n = len(Y)
  
    # declaring the array for storing the  values
    L = [[None]*(n + 1) for i in range(m + 1)]
  
    for i in range(m + 1):
        for j in range(n + 1):
            if i == 0 or j == 0 :
                L[i][j] = 0
            elif X[i-1] == Y[j-1]:
                L[i][j] = L[i-1][j-1]+1
            else:
                L[i][j] = max(L[i-1][j], L[i][j-1])

    return L[m][n]

In [22]:
print('Longest Common Subsequence between str1 and str2 =',longestCommonSubsequence(str1, str2))

Longest Common Subsequence between str1 and str2 = 55

In [23]:
def editDistance(X,Y):
    m = len(X)
    n = len(Y)
    
    array = [[0 for x in range(n + 1)] for x in range(m + 1)]
    
    for i in range(n+1):
        array[0][i] = i
    
    for i in range(m+1):
        array[i][0] = i
    
    for i in range(1,m+1):
        for j in range(1,n+1):
            if(X[i-1]==Y[j-1]):
                array[i][j] = array[i-1][j-1]
            else:
                array[i][j] = 1 + min(array[i][j-1],min(array[i-1][j],array[i-1][j-1]))
    return array[m][n]

In [24]:
print('Edit Distance between str1 and str2 =',editDistance(str1, str2))

Edit Distance between str1 and str2 = 62